{% extends 'base.html'%}

{% block title %}{{user.username}}{% endblock %}


{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Feedback</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        {% if session['user'] %}
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="/users/{{user.username}}/feedback/add">Add Feedback</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/users/{{user.username}}/delete">Delete Profile</a>
            <a class="nav-item nav-link" href="/logout">Log Out</a>
        </div>
        {% else %}
            <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="/register">Register</a>
            <a class="nav-item nav-link" href="/login">Log In</a>
            </div>
        {% endif %}
        </div>
    </nav>
            <div class="my-5 mx-auto container col-2">
            <h4><em>{{user.username}}</em></h4>
            <p>{{user.email}}</p>
            <p>{{user.first_name}}</p>
            <p>{{user.last_name}}</p>
            <div class="container">
                {% for item in feedback %}
                <div class="card m-2" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">{{item.title}}</h5>
                      <h6 class="card-subtitle mb-2 text-muted">{{item.username}}</h6>
                      <p class="card-text">{{item.content}}</p>
                      <a href="/feedback/{{item.id}}/update" class="card-link"><i class="far fa-edit"></i></a>
                      <a href="/feedback/{{item.id}}/delete" class="card-link"><i class="fas fa-trash text-danger"></i></a>
                    </div>
                  </div>
                {% endfor %}
                </div>
            <form action="/users/{{user.username}}/feedback/add">
            <button class="btn btn-success">Add Feedback</button>
            </form>
        </div>
   
{% endblock %}